# ROS local configuration - for personalized customizations

# If this file is /vagrant/ros_local.cfg, then it is always sourced by .bashrc in the IEEE Humanoid VMs

# set local ROS environment variables
export ROS_MASTER_URI=http://192.168.5.200:11311
export ROS_IP=`hostname --all-ip-addresses | tr ' ' '\n' | grep -v 10.0.2 | xargs`
# export ROS_IP=192.168.5.201

# git settings for me
git config --global user.name "Victor Frankenstein"
git config --global user.email vfrank@monster.com
git config --global color.ui true

# aliases ######################################################################

alias renv="env | grep ^ROS"

alias gpl='git pull'
alias gph='git push'
alias ga='git add .'
alias gc='git commit --author "Victor Frankenstein <vfrank@monster.com>" -m'
alias gs='git status'
alias gl='git log'

alias mg="mg -n"
